$font-stack: Helvetica, sans-serif;
$font-roboto :  Roboto, sans-serif;
$font-new : "Segoe UI", Roboto, Oxygen, sans-serif;
$primary-color: #333;
$white-color: #c9c9c9;
$second-color: #232129;
$clear-grey:#ECECEC;
$gold-yellow : rgb(234, 191, 0);
$text-important : 24px; 
$text-second : 18px; 
$text-basic : 14px;
$text-mini: 11px;
$shadowBox : 1px 1px 3px grey;
$shadowBoxVar :0 2px 5px rgba(0, 0, 0, .2);

//typo
//colors
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font: 100% $font-new;
  color: $primary-color;
  font-size : $text-basic;
  width:70%;
  margin:auto;
  @media screen and (max-width : 1280px){
    width:100%;
  }
}

li {
    list-style-type : none;
}

a {
    text-decoration : none;
}

a:hover {
    color : $gold-yellow;
}

#logo h1 {
    font-family: 'Press Start 2P';
    margin: 1rem;
    font-size: $text-second;
    background: -webkit-linear-gradient(#e3e308, #0db144);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link_size {
    font-size :10px;
    font-family: 'Press Start 2P';
    //font-family: 'Tektur',  cursive;
    @media screen and (max-width :900px){
        font-size :1.5rem;
    }
}

.link_size:hover {
    color : green;
}
.search_button {
    width:30px;
    border:none;
    background-color: transparent;
}

.main_container {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    @media screen and (max-width:1025px){
        grid-template-columns: 1fr;
    }
}

.centered {
    display :flex; 
    flex-direction: column;
    align-items: center;
}

.base_container {
    min-height :30rem;
    width :60%;
    padding :15%;
}
#hero {
    margin : 0px 0px 7em 0px;
}
/*HERO PRODUCT*/
.hero_product {
    filter : brightness(85%);
    background-size:cover;
    width : 100%;
    height : 30rem;
    display:flex;
    justify-content: flex-end;
    align-items: end;
    margin:0em auto 4em;
    color:white;
    @media screen and (max-width:768px){
        margin : 0em auto 2em;
        height:30rem;
       
    }
}

.hero_title {
    height:30%;
    margin:3em;
    padding:1em;
    width:50%;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, .7);
    @media screen and (max-width : 1200px){
        padding :2em;
        width : 40%;
    }
    @media screen and (max-width : 900px){
        padding: 2rem;
        width :80%;
    }
}

.hero_title > h1 {
    font-size: $text-second;
}

nav  {
    width : 100%;
    position:relative;
}
nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > ul > li > a {
    text-decoration: none;
    color :black;
}

nav > ul> li > a:hover {
    text-decoration: underline;
}


.hamburger {
    top:5%;
    right:12%;
    width: 28px;
    height: 3px;
    background: #565656;
    position: absolute;
    box-shadow: $shadowBoxVar;
    transition: 0.5s;
  }

  .hamburger:before {
    top: -12px;
  }
  
  .hamburger:after {
    top: 12px;
  }

  .hamburger-one:before,
.hamburger-one:after {
  content: '';
  position:absolute;
  width: 28px;
  height: 3px;
  background:#565656;
  box-shadow: $shadowBoxVar;
  transition:0.5s;
}

.icon-one {
    position: absolute;
    top: -14%;
    right: 3%;
    height: 80px;
    cursor: pointer;
  }

  .icon-one.active-one .hamburger-one {
    background:rgba(0,0,0,0);
    box-shadow: $shadowBoxVar;
  }
  
  .icon-one.active-one .hamburger-one:before {
    top: 0;
    transform:rotate(45deg);
  }
  
  .icon-one.active-one .hamburger-one:after {
    top: 0;
    transform:rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
/*PRODUCT*/

/*INPUT */

#search {
    position:relative;
    width:50%;
    margin: 5rem auto;
    @media screen and (max-width : 800px){
        width :70%;
    }
}

.searchResults {
    position :absolute;
    top:100%;
    width:100%;
    box-shadow : $shadowBox;
}

#searchElement {
    position:relative;
}

form {
    display: grid;
    margin: 5em 0 5em;
    box-shadow: $shadowBox;
}


form > label {
    margin: 0.3em;
    display: flex;
    justify-content: space-between;
}

input[type="text"], input[type="password"] {
    border-width: 0px 0px 0px;
    outline : none;
}

input[type="submit"] {
    width: 100px;
    margin: 10px auto;
}

// INPUT**/



#logo {
    text-align: center;
}

.size_box {
    grid-column-start : 1;
    grid-column-end : 3;
    margin: 2rem auto 2rem;
    width: 50%;
    @media screen and (max-width:875px){
        width :60%;
    }
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-right:10px;
    @media screen and (max-width:1200px){
        flex-wrap: nowrap;
        width :50%;
    }
}

.size {
    background-color: $clear-grey;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $text-basic;
    //margin:0 0.3em 0 0.3em;
}

.size:hover {
    border: 1px solid $second-color;
}


.product_grid {
    display:grid; 
    grid-template-columns: repeat(4, 1fr);
    margin : auto;
    @media screen and (max-width:825px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width:600px){
        grid-template-columns: repeat(2, 1fr);
    }

}
.product {
    //flex-direction: column;
    //align-items: center;
    position : relative;
    text-align : start;
    margin:0.8em auto;
    max-width: 200px;
    width: 9rem;
    @media screen and ( max-width : 1000px){
        width : 14rem;
    }
    @media screen and ( max-width : 875px){
        width : 10rem;
    }
}

.product_command {

    margin: 3em;
    box-shadow : $shadowBox;
    padding :5px;
    border-radius:15px;
}

.product_image {
    width: 10rem;//calc(100vw/7);
    height: 10rem;
    background-color: grey;
    @media screen and (max-width:768px){
        height:196px;
    }
}


.product_name {
    font-size: $text-important;
    font-weight :700;
    @media screen and (max-width:768px){
        font-size:12px;
    }
}

.product_desc {
    font-size: $text-mini;
    font-weight:400;
}

.product_detail {
    z-index : 15;
    height : 80vh;
    box-shadow: grey 1px 1px 3px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 10%;
    width:80%;
    background-color: white;
    padding: 28px;
    overflow-y : scroll;
    @media screen and (min-width :2000px){
        top : 7%;
        height : 80vh;
    }

    @media screen and (max-width : 1200px){
        left : 7%;
        width:80%;
        height : 60vh;
    }
    @media screen and (max-width : 900px){
        top :6%;
        left :2%;
        width :90%;
        height : 80vh;
    }
}

.product_detail::-webkit-scrollbar {
    display: none; 
}

.product_detail > figure {
    height:400px;
    @media screen and (max-width : 900px) {
        height: 270px;
    }
}

.product_main {
    display : flex;
    @media screen and (max-width : 900px) {
        flex-direction: column;
        align-items: center;
    }

}

.product_meta {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width :1200px){
        flex-direction: column;
    }
}

.product_metadata {
    margin : 7rem 1rem;
    @media screen and (max-width : 1200px){
        margin : 7rem 3rem;
    }
}

.product_medium {
    width :10rem;
    height:10rem;
}

.product_carousel {
    margin: 7rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product_image_main {
    max-width : 30rem;
    background-color :grey;
    @media screen and (max-width : 1200px) {
        width :50%;
    }
}

.price {
    font-size : $text-basic; 
    font-weight : 500;
}

.price > span {
    font-weight:300
}


.product_list {
    display: flex;
    border : 1px solid black;
}

.pagination {
    margin: 8px auto;
    width: 10rem;
    display: flex;
    justify-content: space-around;
}
/*CHECKOUT*/

.item {
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:1em;
}

.item::before {
    position : absolute;
    top : 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.item_image {
    width:60px;
    height:80px;
    background-color: $primary-color;
}

.checkout_image_open {
    margin: 0px;
    padding: 0.2em;
    width: 30px;
    height: 30px;
    background-size: cover;
    position: relative;
}

.checkout_products {
    width: 100%;
    overflow-y: scroll;
    height: 30rem;
}

.checkout_products::-webkit-scrollbar {
    display : none;
}
.bubble {
    position : absolute;
    width:20px;
    height:20px;
    bottom:0px;
    right:0px;
    text-align: center;
    background-color: rgb(234, 191, 0);
    color:$second-color;
    border-radius:10px;
}

.meta_title {
    font-size:$text-basic;
    color: rgb(236, 236, 236);
}

.meta_detail{
    font-size:$text-mini;
    font-weight:100;
    color:rgb(91, 90, 94);
}

/*PAYMENT*/ 

.bullet {
    width:20px;
    height:20px;
    background-color: $second-color;
    border-radius: 100%;
}

.notification{
    margin:10rem auto;
    width:30rem;
    height:20rem;
    box-shadow: $shadowBox;
}

/**/
.button_base {
    border: none;
    border-radius: 15px;
    padding: 9px;
}

.button_base:hover {
    background-color: $gold-yellow;
}

.button_base:active {
    border : 2px solid black;
}

.add_button {
    padding:5px;
    width:4rem; 
    background-color: $second-color;
    color :white;
    border :none;
    position: absolute;
    top: 0%;
    right: 0%;
}

.button_primary {
    padding:5px;
    margin :1rem;
    width:5rem; 
    background-color: $second-color;
    color :white;
    border :none;
}


.add_button:hover , .button_primary:hover {
    background-color: #EABF00;
    color : $second-color;
   
}

footer {
    background-color: #ECECEC;
}


footer  h1 {
    font-size:1em;
}

.liens {
    display: flex;
    justify-content: space-around;
    padding:2rem;
}

#contact {
    width:85%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border : 2px solid white;
    padding:0.2rem;
    margin :0;
}

/*FAQ*/ 

.info {
    display :none;
}

.expand {
    display:flex;
    flex-direction: column;
}

.question {
    display:flex;
    padding :5px;
    justify-content: space-between;
}


.question_panel  {
    z-index : 2;
    position:relative;
    border-radius : 15px;
    box-shadow : $shadowBox;
    padding : 5px;
    margin: 1rem;
    &:before {
        content : "";
        width:100%;
        height:100%;
        clip-path : polygon(25% 6%, 36% 4%, 42% 25%, 39% 42%, 34% 56%, 28% 60%, 17% 44%, 17% 22%);
        background-color: rgba(90, 190, 48, 0.7);
        bottom: -25%;
        left: -13%;
        position : absolute;
        z-index : -1;
    }
} 

footer {
    background-color: #191919 ;
    color : $white-color
}

.network {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
}

.network__part{
    width:30px;
    height:30px;
    margin:auto;
    img {
        width : 100%;
    }
}

footer a {
    color : #c9c9c9
}

footer a:hover {
    color :red;
}

/*GRID*/


#grid_reseaux {
    display: grid;   
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 75%;
    @media screen and (max-width : 875px){
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}   

#grid_reseaux > figure {
    min-height : 200px;
}

#grid_reseaux > figure:nth-child(1) {
    grid-column-start : 1;
    grid-column-end : 3;
    grid-row-start : 1;
    grid-row-end : 3;
    @media screen and (max-width : 875px){
        grid-column-end: 3;
    }
}

#grid_reseaux > figure:nth-child(3) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    @media screen and (max-width : 875px){
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 4;
    
    }
}


#grid_reseaux > figure:nth-child(5) {
    grid-column-start : 3;
    grid-row-start : 2;
    @media screen and (max-width : 875px){
        grid-column-start : 4;
    }
}

#grid_reseaux > figure:nth-child(6) {
    grid-column-start : 1;
    grid-row-start : 3;
    @media screen and (max-width : 875px){
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-end: 3;
    }
}

#grid_reseaux > figure:nth-child(7) {
    grid-column-start : 2;
    grid-row-start : 3;
    @media screen and (max-width : 875px){
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 5;
    }
}

#grid_reseaux > figure:nth-child(8) {
    grid-column-start : 3;
    grid-row-start : 3;
    @media screen and (max-width : 875px){
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 4;
    }
}

#grid_reseaux > figure:nth-child(9) {
    grid-column-start : 4;
    grid-column-end : 6;
    grid-row-start : 2;
    grid-row-end : 4;
    @media screen and (max-width : 875px){
        grid-row-start: 3; 
        grid-row-end : 4;
        grid-column-start: 3;
    }
}


/*ANOUNCEMENT */

.anouncement_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15%;
    padding : 5%;
    box-shadow: 2px 1px 4px grey;
}

