$font-stack: Helvetica, sans-serif;
$font-roboto :  Roboto, sans-serif;
$font-new : "Segoe UI", Roboto, Oxygen, sans-serif;
$primary-color: #333;
$second-color: #232129;
$clear-grey:#ECECEC;
$text-important : 24px; 
$text-second : 18px; 
$text-basic : 14px;
$text-mini: 11px;

//typo
//colors

body {
  font: 100% $font-new;
  color: $primary-color;
  font-size : $text-basic;
}

li {
    list-style-type : none;
}

.search_button {
    width:30px;
}

.main_container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width:1025px){
        grid-template-columns: 1fr;
    }
}


#hero {
    margin : 0px 0px 7em 0px;
}
/*HERO PRODUCT*/
.hero_product {
    filter : brightness(85%);
    background-size:cover;
    width : 85vw;
    height : 80vh;
    display:flex;
    justify-content: flex-end;
    align-items: end;
    margin:4em auto;
    color:white;
    @media screen and (max-width:768px){
        margin : 2em auto;
        height:31vh;
       
    }
}

.hero_title {
    background-color: white;
    height:30%;
    margin:3em;
    padding:2em;
    opacity: 0.9;
}

.hero_title > h1 {
    font-size: $text-second;
}

nav  {
    width : 100%;
}
nav > ul {
    display: flex;
    justify-content: space-around;
}

nav > ul > li > a {
    text-decoration: none;
    color :black;
}

nav > ul> li > a:hover {
    text-decoration: underline;
}

/*PRODUCT*/

/*INPUT */

#search {
    width:100%;
}

form {
    display: grid;
    margin: 5em 0 5em;
    box-shadow: 1px 2px 6px grey;
}


form > label {
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

input[type="text"], input[type="password"] {
    border-width: 0px 0px 1px;
}

input[type="submit"] {
    width: 100px;
    margin: 10px auto;
}

// INPUT**/



#logo {
    text-align: center;
}

.size_box {
    width : 15vw;
    @media screen and (max-width:1025px){
        margin : auto;
        width:100%;
    }
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-right:10px;
    @media screen and (max-width:1025px){
        flex-wrap: nowrap;
        width:100%;
    }
}

.size {
    background-color: $clear-grey;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $text-basic;
    //margin:0 0.3em 0 0.3em;
}

.size:hover {
    border: 1px solid $second-color;
}


.product_grid {
    display:grid; 
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width:1025px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width:768px){
        grid-template-columns: repeat(2, 1fr);
    }
}
.product {
    //flex-direction: column;
    //align-items: center;
    text-align : center;
    margin:10px;
    max-width: 200px;
}

.product_image {
    width: 100%;//calc(100vw/7);
    height: calc(100vh/4);
    background-color: grey;
    @media screen and (max-width:768px){
        height:196px;
        width:163px;
    }
}


.product_name {
    font-size: $text-important;
    font-weight :600;
    @media screen and (max-width:768px){
        font-size:15px;
    }
}

.price {
    font-size : $text-important; 
    font-weight : 700;
}

.price > span {
    font-weight:100
}


.product_list {
    display: flex;
    border : 1px solid black;
}

/*CHECKOUT*/

.item {
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:1em;
}

.item::before {
    position : absolute;
    top : 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.item_image {
    width:60px;
    height:80px;
    background-color: $primary-color;
}

.checkout_image_open {
    margin: 0px;
    padding: 0.2em;
    width: 30px;
    height: 30px;
    background-size: cover;
    position: relative;
}


.bubble {
    position : absolute;
    width:20px;
    height:20px;
    bottom:0px;
    right:0px;
    text-align: center;
    background-color: rgb(234, 191, 0);
    color:$second-color;
    border-radius:10px;
}

.meta_title {
    font-size:$text-basic;
    color: rgb(236, 236, 236);
}

.meta_detail{
    font-size:$text-mini;
    font-weight:100;
    color:rgb(91, 90, 94);
}

/*PAYMENT*/ 

.bullet {
    width:20px;
    height:20px;
    background-color: $second-color;
    border-radius: 100%;
}

.notification{
    width:300px;
    height:300px;
    box-shadow: 1px 1px 1px grey;
    margin: 1em auto;
}

/**/

.add_button {
    padding:5px;
    width:calc(100vw/7); 
    background-color: $second-color;
    color :white;
    border :none;
}

.add_button:hover {
    background-color: #EABF00;
    color : $second-color;
   
}

footer {
    background-color: #ECECEC;
}

.liens {
    display: flex;
}


/*FAQ*/ 

.info {
    display :none;
}

.expand {
    display:flex;
    flex-direction: column;
}

.question {
    display:flex;
}

